<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <title>Advisor Network API</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top py-4">
      <div class="container">
        <span class="navbar-brand mb-0 h1">Advisor Network API</span>
      </div>
    </nav>
    <br /><br /><br />

    <div class="container">
      <br /><br />
      <h2>API LINK :- https://nurture-labs-assignment.herokuapp.com/</h2>
      <br /><br />
      <h2>Index</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Endpoint</th>
            <th scope="col">Desciption</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="#addadmin">/admin/advisor </a></td>
            <td>Add Advisor</td>
          </tr>
          <tr>
            <th scope="row">2</th>

            <td><a href="#adduser">/user/register </a></td>
            <td>Register User</td>
          </tr>
          <tr>
            <th scope="row">3</th>

            <td><a href="#userlogin">/user/login </a></td>
            <td>User Login</td>
          </tr>
          <tr>
            <th scope="row">4</th>

            <td><a href="#showadvisor">/user/&lt;user-id&gt;/advisor </a></td>
            <td>Show Advisors</td>
          </tr>
          <tr>
            <th scope="row">5</th>

            <td>
              <a href="#bookadvisor"
                >/user/&lt;user-id&gt;/advisor/&lt;advisor-id&gt;/
              </a>
            </td>
            <td>Book Advisor</td>
          </tr>
          <tr>
            <th scope="row">6</th>

            <td>
              <a href="#listadvisor">/user/&lt;user-id&gt;/advisor/booking/ </a>
            </td>
            <td>List of Advisors Booked</td>
          </tr>
        </tbody>
      </table>

      <br /><br />
      <h2 id="addadmin">Add Advisor</h2>

      <h3>Request</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Method</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>POST</td>
            <td>api/admin/advisor</td>
          </tr>
        </tbody>
      </table>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Params</th>
            <th scope="col">Values</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>POST</td>
            <td>advisor_name</td>
            <td>string</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>POST</td>
            <td>advisor_img</td>
            <td>file</td>
          </tr>
        </tbody>
      </table>
      <br />
      <h3>Response</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>200</td>
            <td>Successful</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>400</td>
            <td>Bad Request</td>
          </tr>
        </tbody>
      </table>

      <br /><br />
      <h2 id="adduser">Register User</h2>

      <h3>Request</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Method</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>POST</td>
            <td>api/user/register</td>
          </tr>
        </tbody>
      </table>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Params</th>
            <th scope="col">Values</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>POST</td>
            <td>name</td>
            <td>string</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>POST</td>
            <td>email</td>
            <td>string</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>POST</td>
            <td>password</td>
            <td>string</td>
          </tr>
        </tbody>
      </table>
      <br />
      <h3>Response</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>200</td>
            <td>Successful</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>400</td>
            <td>Bad Request</td>
          </tr>
        </tbody>
      </table>

      <br /><br />
      <h2 id="userlogin">Login User</h2>

      <h3>Request</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Method</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>POST</td>
            <td>api/user/login</td>
          </tr>
        </tbody>
      </table>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Params</th>
            <th scope="col">Values</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2</th>
            <td>POST</td>
            <td>email</td>
            <td>string</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>POST</td>
            <td>password</td>
            <td>string</td>
          </tr>
        </tbody>
      </table>
      <br />
      <h3>Response</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>200</td>
            <td>Successful</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>400</td>
            <td>Bad Request</td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <h2 id="showadvisor">Show all Advisor</h2>

      <h3>Request</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Method</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>GET</td>
            <td>api/user/&lt;user-id&gt;/advisor</td>
          </tr>
        </tbody>
      </table>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Params</th>
            <th scope="col">Values</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Header</td>
            <td>x-access-token</td>
            <td>
              token string given when a user is registered or after user login
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <h3>Response</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>200</td>
            <td>Successful</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>400</td>
            <td>Bad Request</td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <h2 id="bookadvisor">Book Advisor</h2>

      <h3>Request</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Method</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>POST</td>
            <td>api/user/&lt;user-id&gt;/advisor/&lt;advisor-id&gt;/</td>
          </tr>
        </tbody>
      </table>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Params</th>
            <th scope="col">Values</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Header</td>
            <td>x-access-token</td>
            <td>
              token string given when a user is registered or after user login
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>POST</td>
            <td>booking_date</td>
            <td>string (dd-mm-yyyy)</td>
          </tr>
        </tbody>
      </table>
      <br />
      <h3>Response</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>200</td>
            <td>Successful</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>400</td>
            <td>Bad Request</td>
          </tr>
        </tbody>
      </table>

      <br /><br />
      <h2 id="listadvisor">Show all Bookings</h2>

      <h3>Request</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Method</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>GET</td>
            <td>api/user/&lt;userid&gt;/advisor/booking/</td>
          </tr>
        </tbody>
      </table>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Params</th>
            <th scope="col">Values</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Header</td>
            <td>x-access-token</td>
            <td>
              token string given when a user is registered or after user login
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <h3>Response</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>200</td>
            <td>Successful</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>400</td>
            <td>Bad Request</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
